@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

$body-font: "Syne", sans-serif;
$inter-font: "Inter", sans-serif;
$navigation-brand-font: "Syne", sans-serif;
$navigation-links-font: "Inter", sans-serif;

$bold-weight-font: 700;
$regular-weight-font: 400;
