// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600&display=swap');

body {
  background-color: rgb(37, 75, 69);
  font-family: 'Syne', sans-serif;
  font-weight: 600;
}
