body, html {
  font-family: "Syne", sans-serif;
  font-weight: 400;
}
h1, h2, h5, p, small {
  margin-bottom: 0;
}
section {
  height: calc(100vh - 214px);
}
small {
  font-family: "Inter", sans-serif;
}
