<% if notice %>
  <div class="position-relative">
    <div class="alert alert-success bottom-0 m-3 position-fixed px-5 py-3 shadow-sm start-0 z-3" role="alert">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="position-relative">
    <div class="alert alert-dark bottom-0 m-3 position-fixed px-5 py-3 shadow-sm start-0 z-3" role="alert">
      <%= alert %>
    </div>
  </div>
<% end %>
