<% if notice %>
  <div class="alert alert-success border-0 bottom-0 m-3 position-fixed px-5 py-4 shadow-sm start-0 z-3" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-dark border-0 bottom-0 m-3 position-fixed px-5 py-4 shadow-sm start-0 z-3" role="alert">
    <%= alert %>
  </div>
<% end %>
