<% if notice %>
  <div class="alert alert-light align-items-center bottom-0 d-flex d-md-flex end-0 m-3 position-fixed shadow-sm z-3" role="alert">
    <i class="flex-shrink-0 fs-5 me-2 ph-fill ph-check-circle"></i>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-light align-items-center bottom-0 d-flex d-md-flex end-0 m-3 position-fixed shadow-sm z-3" role="alert">
    <i class="flex-shrink-0 fs-5 me-2 ph-fill ph-x-circle"></i>
    <%= alert %>
  </div>
<% end %>
