<% if notice %>
  <div class="alert alert-light align-items-center bottom-0 d-flex d-md-flex end-0 m-3 position-fixed shadow-sm z-3" role="alert">
    <div class="flex-shrink-0 me-2">
      <i class="ph-fill ph-check-circle"></i>
    </div>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-light align-items-center bottom-0 d-flex d-md-flex end-0 m-3 position-fixed shadow-sm z-3" role="alert">
    <div class="flex-shrink-0 me-2">
      <i class="ph-fill ph-check-circle"></i>
    </div>
    <%= alert %>
  </div>
<% end %>
