<% if notice %>
  <div class="position-relative">
    <div class="alert alert-success end-0 position-absolute shadow-sm top-50 translate-middle-y" role="alert">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="position-relative">
    <div class="alert alert-dark end-0 position-absolute shadow-sm top-50 translate-middle-y" role="alert">
      <%= alert %>
    </div>
  </div>
<% end %>
