<section class="align-items-center d-flex justify-content-left w-100" style="height: calc(100vh - 202px);">
  <div class="row">
    <div class="col-md-7">
      <h1 class="fs-2 mb-5">We invite you to come and discover with us a whole new way of sharing your sports sessions</h1>
      <%= link_to "Get started for free", new_user_registration_path, class: "btn btn-green px-5 py-3 rounded-5 shadow" %>
    </div>

    <div class="col-md-5">
      <%= image_tag "Humaaans.svg", class: "img-fluid" %>
    </div>
  </div>
</section>
