<section class="align-items-center d-flex d-md-flex justify-content-left w-100">
  <div class="row">
    <div class="col-md-8">
      <h1>We invite you to come and discover with us a whole new way of sharing your sports sessions</h1>
      <%= link_to "Get started for free", new_user_registration_path, class: "btn --btn-bd-green mt-5 px-5 py-3 shadow" %>
    </div>
    <div class="col-md-4">
      <%= image_tag "pages/home/Humaaans.svg", class: "img-fluid" %>
    </div>
  </div>
</section>
