.alert-light {
  --bs-alert-color: rgb(0, 0, 0);
  --bs-alert-bg: rgb(248, 249, 250);
  --bs-alert-border-color: rgb(248, 249, 250);
  --bs-alert-link-color: rgb(0, 0, 0);
}
.ph-fill {
  font-size: 18px;
}
