abbr[title] {
  cursor: default;
  text-decoration: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration: none;
}
.form-check-input[type="checkbox"] {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
}
.form-check-input:checked {
  background-color: $green-color;
  border-color: $green-color;
}
