.dropdown-item {
  &:active, &:focus, &:hover {
    background-color: inherit;
  }
}
.navbar-brand {
  color: rgb(37, 75, 69);
  font-family: "Syne", sans-serif;
  font-weight: 700;
  &:active, &:focus, &:hover {
    color: rgb(37, 75, 69);
  }
}
.nav-link {
  color: rgb(37, 75, 69);
  font-family: "Inter", sans-serif;
}
