.navbar-brand {
  color: $green-color;
  font-family: $navigation-brand-font;
  font-weight: $bold-weight-font;

  &:active, &:focus, &:hover {
    color: $green-color;
    transition: color 0.15s ease-in-out;
  }
}
.nav-link {
  color: $green-color;
  font-family: $navigation-links-font;
}
