<div class="border-0 card mb-5 p-5 rounded-4 shadow-sm">
  <div class="card-body">
    <div class="align-items-center d-flex d-md-flex justify-content-between">
      <p class="card-text"><%= review.user.first_name %></p>
      <% if policy(review).destroy? %>
        <a class="nav-link" data-turbo-confirm="Would you like to continue?" data-turbo-method="delete" href="<%= review_path(review) %>">
          <i class="ph-bold ph-trash-simple"></i>
        </a>
      <% end %>
    </div>
    <p class="card-text text-secondary"><%= review.comment %></p>
  </div>
</div>
