<div class="container mt-5">
  <h1>Edit activity</h1>

  <%= render "form", activity: @activity %>

  <hr>
  <%= link_to activity_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
