<%= simple_form_for([activity, review]) do |f| %>
  <div class="col-12" data-controller="character-counter">
    <%= f.input :comment, as: :string,
                          autofocus: false,
                          input_html: { class: "border-0 mt-5 p-5 rounded-4 shadow-sm", data: { character_counter_target: "input" }, style: "height: 211px; width: 100%;" },
                          label: false,
                          placeholder: "Share your opinion with the other participants in this activity",
                          required: false %>
    <div class="align-items-center d-flex d-md-flex justify-content-between my-5">
      <%= f.button :submit, "Comment", class: "btn --btn-bd-green px-5 py-3 shadow" %>
      <small class="form-text text-secondary">
        Your review is currently
        <small data-character-counter-target="counter" class="form-text text-dark"></small> characters long
      </small>
    </div>
  </div>
<% end %>
