<%= simple_form_for([ activity, review ], html: { class: "g-3"}) do |f| %>
  <div data-controller="character-counter">
    <div class="col-12">
      <%= f.input :comment,
                  as: :string,
                  autofocus: false,
                  input_html: { class: "border-0 p-5 rounded-4 shadow-sm", data: { character_counter_target: "input" } },
                  label: false,
                  placeholder: "Exceptional discovery and welcoming host",
                  required: false %>
      <div class="mb-5">
        <small class="form-text">Your review is currently <small data-character-counter-target="counter"></small> characters long</small>
      </div>

      <%= f.button :submit, "Comment", class: "btn btn-green mb-5 px-4 py-2 shadow" %>
    </div>
  </div>
<% end %>
