<%= simple_form_for([ activity, review ], html: { class: "g-4"}) do |f| %>
  <div data-controller="character-counter">
    <div class="col-12">
      <%= f.input :comment,
                  as: :string,
                  autofocus: false,
                  input_html: { class: "border-0 p-5 rounded-4 shadow-sm", data: { character_counter_target: "input" } },
                  label: false,
                  placeholder: "An exceptional discovery which I advise you to participate in",
                  required: false %>
      <div class="align-items-center d-flex justify-content-between my-5">
        <%= f.button :submit, "Comment", class: "btn btn-green px-4 py-2 shadow" %>
        <small class="form-text">
          Your review is currently <small data-character-counter-target="counter"></small> characters long
        </small>
      </div>
    </div>
  </div>
<% end %>
